CASSANDRA_HOST=cassandra
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

TWITTER_CONSUMER_KEY=******
TWITTER_CONSUMER_SECRET=******
TWITTER_ACCESS_TOKEN=******
TWITTER_ACCESS_TOKEN_SECRET=******
