{
  "rabbit_version": "3.7.0",
  "users": [{
    "name": "guest",
    "password_hash": "QfKm/Byj6NEHtp66I/pCwmiJ4CvECnSalFPijnYEu484u4Px",
    "tags": "administrator"
  }],
  "vhosts": [{
    "name": "/"
  }],
  "permissions": [{
    "user": "guest",
    "vhost": "/",
    "configure": ".*",
    "write": ".*",
    "read": ".*"
  }],
  "parameters": [],
  "policies": [],
  "queues": [{
    "name": "pro.faber.extract",
    "vhost": "/",
    "durable": true,
    "auto_delete": false,
    "arguments": {}
  }, {
    "name": "pro.faber.transform",
    "vhost": "/",
    "durable": true,
    "auto_delete": false,
    "arguments": {}
  }, {
    "name": "pro.faber.load",
    "vhost": "/",
    "durable": true,
    "auto_delete": false,
    "arguments": {}
  }],
  "exchanges": [{
    "name": "pro.faber.direct",
    "vhost": "/",
    "type": "direct",
    "durable": true,
    "auto_delete": false,
    "internal": false,
    "arguments": {}
  }],
  "bindings": [{
    "source": "pro.faber.direct",
    "vhost": "/",
    "destination": "pro.faber.extract",
    "destination_type": "queue",
    "routing_key": "pro.faber.extract",
    "arguments": {}
  }, {
    "source": "pro.faber.direct",
    "vhost": "/",
    "destination": "pro.faber.transform",
    "destination_type": "queue",
    "routing_key": "pro.faber.transform",
    "arguments": {}
  }, {
    "source": "pro.faber.direct",
    "vhost": "/",
    "destination": "pro.faber.load",
    "destination_type": "queue",
    "routing_key": "pro.faber.load",
    "arguments": {}
  }]
}